.single-product-title {
    text-align: center;
    margin-bottom: 3px;

    background-color: $mainColor;
    h2 {
        margin: 0;
        padding: $mainSpace;
    }
}

.type-pasta-img, .packaging-pasta-img {

    img {
        width: 100%;
        display: block;
    }
}

.description-paragraph {
    background-color: $mainColor;
    padding-bottom: $mainSpace * 2;

    .dettails-container {
        padding-bottom: $mainSpace * 2;
    }

    .dettails-top {
        @include displayFlex(row, space-around, center);

        div {
            @include displayFlex(column, center, center);
            width: calc(100% / 3 - 1px);
            padding: $mainSpace / 2 0;

            &.dettails-logo {
                border-right: 1px solid black;
            }

            &.dettails-quality-logo {
                border-left: 1px solid black;
            }

            img {
                max-width: 100%;
            }

            h3 {
                font-size: $mainFontSize;
                color: $secondaryTextColor;
            }
        }
    }

    .dettails-bottom {
        @include displayFlex(row, space-around, center);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: $mainFontSize;
        color: $secondaryTextColor;

        div {
            @include displayFlex(column, center, center);
            width: calc(100% / 3 - 1px);
            padding: $mainSpace 0;

            &.dettails-type {
                border-right: 1px solid black;
            }

            &.dettails-weight {
                border-left: 1px solid black;
            }
        }
    }

    p {
        color: $secondaryTextColor;
        font-size: $mainFontSize;
        line-height: 1.8;
    }
}

// SEZIONE RIGUARDANTE LE FRECCE PER CAMBIO PAGINA

.type-pasta-images-container {

    .left-arrow-link, .right-arrow-link {
        font-size: 50px;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(219, 235, 244, 0.5);

        a {
            display: block;
            padding: $mainSpace;
            color: $secondaryTextColor;

            i {
                display: block;
            }
        }
    }

    .left-arrow-link {
        left: 20px;
    }

    .right-arrow-link {
        right: 20px;
    }
}





/**/
